
/* Media Query for Small device */
@media screen and (max-width: 576px) {
    .navbar,
    .banner-container,
    .section-info,
    .run-container,
    .training-area,
    .team-container,
    .footer-container,
    .calculator-container{
        margin-left: 20px;
        margin-right: 20px;
    }

    /* .navbar{
        padding: 0 30px;
    } */
    .nav-list{
        display: none;
    }
    .nav-icon{
        display: block;
    }

    .banner-container{
        flex-direction: column;
        padding-left: 10px;
    }

    .primary-btn{
        padding: 16px 30px;
    }

    .show-up1{
        left: 190px;
        bottom: 540px;
    }
    .show-up2{
        left: 0;
        bottom: 400px;
    }

    .habits-container{
        grid-template-columns: 1fr;
    }
    .run-container{
        flex-direction: column;
        gap: 31px;
    }
    .image-container1{
        grid-template-columns: repeat(2, 1fr);
    }
    .image-container2{
        grid-template-columns: 46% 54%;
    }

    .training-img{
        height: 128px;
    }

    .br-image3{
        display: none;
    }
    .br-image6{
        display: none;
    }

    .bluree p{
        left: 10px;
    }

    .text4, .text5{
        display: none;
    }

    .sd-text{
        display: block;
    }
    .text1, .sd-text{
        top: 100px;
    }

    .calculator-container{
        flex-direction: column;
        gap: 50px;
    }

    .team-container{
        grid-template-columns: 1fr;
    }

    /* .team-image1, .team-image4{
        display: none;
    } */

    .footer-container,
    .service-container{
        flex-direction: column;
        gap: 30px;
    }  
}

/* Media Query for tablet */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .navbar,
    .banner-container,
    .section-info,
    .run-container,
    .training-area,
    .team-container,
    .footer-container,
    .calculator-container{
        margin-left: 30px;
        margin-right: 30px;
    }

    .banner-container{
        flex-direction: column;
        padding-left: 10px;
    }

    .show-up1{
        left: 190px;
        bottom: 540px;
    }
    .show-up2{
        left: 0;
        bottom: 300px;
    }

    .habits-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .image-container1{
        grid-template-columns: 214px 259px 211px;
    }
    .image-container2{
        grid-template-columns: 276px 210px 198px;
    }

    p.text4{
        left: 30px;
        top: 146px;
    }
    
    .calculator-container,
    .footer-container{
        flex-direction: column;
    } 
}