*{
    margin: 0;
    padding: 0;
}

/* Shared styles */

body{
    font-family: "Inter", serif;
    background-color: var(--black-color);
    color: var(--white-color);
}

:root{
    --primary-color:#E6533C;
    --white-color:#ffffff;
    --black-color:#000000;
    --bg-gray: rgba(80, 80, 80, 0.3);
}

.primary-btn{
    background-color: var(--primary-color);
    border: none;
    border-radius: 30px;
    padding: 16px 46px;
    font-weight: 600;
    color: var(--white-color);
    cursor: pointer;
    margin-top: 28px;
}

.text-align{
    text-align: center;
}

.section-info{
    max-width: 640px;
    margin: 0 auto 58px;
}

.title{
    font-size: 3rem;
    font-weight: 900;    
}

.description{
    font-size: 0.875rem;
    letter-spacing: 0.3px;
    opacity: 0.5;
    margin-top: 14px;
}

.hide{
    display: none;
}


/* Width Heigth related styles */
header{
    max-width: 1080px;
    margin: 0 auto;
}

section{
    max-width: 1060px;
    margin: 0 auto;
}

/* Navigation Menus styles */
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 40px 0 32px 0;
    align-items: center;
}

.brand{
    font-size: 2.25rem;
    font-weight: 900;
    color: var(--primary-color);
}

.nav-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 47px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 20px;
}
a{
    text-decoration: none;
}
.nav-list a{
    color: var(--white-color);
    font-size: 1.125rem;
    padding: 10px 15px;
}

.nav-list a:hover{
    background-color: var(--primary-color);
    border-radius: 20px;
}
.nav-icon{
    display: none;
}
.nav-icon .icon{
    color: var(--white-color);
    font-size: 1.15rem;
}

/* Banner related styles */
.banner-container{
    display: flex;
    gap: 160px;
    justify-content: space-between;
    align-items: center;
}

.heading{
    font-size: 4.875rem;
    font-weight: 800;
}
.vinno{
    font-family: "Playwrite IN", serif;
    font-weight: normal;
    opacity: 0.6;
}
.banner-description{
    font-size: 1rem;
    letter-spacing: 0.5px;
    opacity: 0.5;
    margin: 28px 0;
}

.bg-none-btn{
    background-color: var(--black-color);
    border: 1px solid var(--white-color);
    margin-left: 15px;
}

.number{
    font-size: 2.5rem;
    font-weight: 800;
}
.number-info{
    font-size: 0.813rem;
    opacity: 0.65;
}

.show-up{
    background-color: rgba(202, 189, 189, 0.2);
    width: 150px;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    position: relative;
}
.show-up1{
    left: 240px;
    bottom: 450px; 
}
.show-up2{
    left: -80px;
    bottom: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.round{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

/* Change you habit section styles */
.habits-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 0 30px;
}

.habits-content{
    text-align: center;
}

.habits-title{
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 30px;
}
.habits-content img{
    border: 5px solid rgba(128, 128, 128, 0.418);
    border-radius: 50%;
}

/* Run section styles */
.run-container{
    background-color: var(--bg-gray);
    margin: 100px auto;
    display: flex;
    gap: 165px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 32px;
    border-radius: 10px;
}

.run-container button{
    padding: 16px 70px;
}

.run-img{
    width: 100%;
    border-radius: 10px;
}

/* Training and Exercise section */
.training-section .section-info{
    margin-left: 20px;
}

.image-container1{
    display: grid;
    grid-template-columns: 250px 520px 290px;
}
.image-container2{
    display: grid;
    grid-template-columns: 425px 288px 347px;
}

.training-img{
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

.br-image1{
    background-image: url(../images/exercise1.png);
}
.br-image2{
    background-image: url(../images/exercise2.png);
}
.br-image3{
    background-image: url(../images/exercise3.png);
}
.br-image4{
    background-image: url(../images/exercise4.png);
}
.br-image5{
    background-image: url(../images/exercise5.png);
}
.br-image6{
    background-image: url(../images/exercise6.png);
}

.bluree{
    width: 100%;
    height: 100%;
}

.blur1{
   background-color: rgba(6, 255, 210, 0.5); 
}
.blur2{
    background-color: rgba(255, 0, 0, 0.3); 
}
.blur3{
    background-color: rgba(0, 0, 0, 0.5); 
}
.blur4{
    background-color: rgba(0, 0, 0, 0.5); 
}
.blur5{
    background-color: rgba(66, 255, 0, 0.3); 
}
.blur6{
    background-color: rgba(0, 71, 255, 0.3); 
}

.bluree p{
    font-size: 0.875rem;
    font-weight: 500;
    position: relative;
    left: 30px;
}

.text1{
    color: #000000;
    top: 157px;
}
.text2{
    top: 30px;
}
.text3, .text5, .text6{
    top: 146px;
}
p.text4{
    left: 250px;
    top: 30px;
}

.sd-text{
    display: none;
} 

/* Calculator related styles */
.calc-info{
    margin-top: 58px;
    margin-left: 190px;
}

.calculator-section{
    background-color: var(--bg-gray);
    max-width: 100%;
}

.calculator-container{
    max-width: 1060px;
    margin: 0 auto;
    padding: 52px 0;
    display: flex;
    gap: 175px;
    justify-content: space-between;
}

.calculator-cart table{
    border-collapse: collapse;
    margin-top: 52px;
    width: 280px;
}
.calculator-cart td, th{
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 13px 0 13px 18px;
}
.calculator-cart th{
    text-align: left;
}
.calculator-cart td{
    font-size: 0.875rem;
    opacity: 0.5;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-top: 30px;
  }
  
form input, select {
    font-size: 1rem;
    opacity: 0.6;
    padding: 13px 0;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    border: none;
    width: 100%;
}
  
.activity-factor {
    grid-column: span 2;
}

form input::placeholder {
    padding-left: 20px;
}

form select{
    padding-left: 20px;
}

option{
    background-color: #000000;
}


/* Our Team section styles */
.team-area{
    margin-top: 88px;
    margin-bottom: 88px;
}

.team-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: var(--bg-gray);
    padding: 20px;
    border-radius: 10px;
}

.team-container .common{
    width: 100%;
    height: 272px;
    background-size: cover;
    border-radius: 10px;
}
.team-image1{
    background-image: url(../images/trainer1.png);
}
.team-image2{
    background-image: url(../images/trainer2.png);
}
.team-image3{
    background-image: url(../images/trainer3.png);
}
.team-image4{
    background-image: url(../images/trainer4.png);
}
.team-image5{
    background-image: url(../images/trainer5.png);
}
.team-image6{
    background-image: url(../images/trainer6.png);
}

.trainer-name{
    font-size: 1.25rem;
    font-weight: 900;
}

.trainer-info{
    position: relative;
    left: 20px;
    top: 213px;
}

/* Footer Section styles */
.footer{
    background-color: var(--bg-gray);
    padding: 65px 0 35px;
}

.footer-container{
    max-width: 1060px;
    margin: 0 auto 80px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.service-container{
    display: flex;
    gap: 150px;
}

.brand-footer{
    font-size: 4.375rem;
    font-weight: bolder;
    color: var(--primary-color);
}

.footer-title{
    font-size: 2rem;
    font-weight: bold;
}

.footer-item{
    color: rgba(255, 255, 255, 0.5);
}
.footer-item p{
    margin-top: 20px;
}

.horizontal-line{
    max-width: 1060px;
    margin: 0 auto;
    opacity: 0.3;
}

.last-text{
    font-size: 1.25rem;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 35px;
}

